
<header id="home">
  <h1>Proyecto Tabla Anual Campeonato Uruguayo </h1>
  <p>
    El objetivo de este proyecto es scrapear los datos de una tabla de posiciones del
    Campeonato uruguayo que serán procesados en una nueva tabla disponible aqui:
  </p>
  <a href="/anual" class="button">Ir a Tabla Anual</a>
</header>
